@{
    ViewBag.Title = "Contact us";
}
<h4>@ViewBag.Title:</h4>


<address>
    1 John Doe Avenue<br />
    Manchester,<br />
    M15 8JD<br />
    <abbr title="Phone">P:</abbr>
    0800565998
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:monika.johaniewicz@growthco.uk">Monika.Johaniewicz@growthco.uk</a><br />
</address>