@{
    ViewBag.Title = "Home Page";
}

<div class="row container">
    <div class="col-md-8">
        <div class="jumbotron" style="margin-top:25px">
            <h1>WebbiSkools Ltd</h1>
            <p class="lead">
                WebbiSkools Ltd provides on-line educational solutions to commercial and
                government clients, such as universities and training departments of large industrial
                companies.
            </p>
            <p class="lead">
                We provide Quizzes in various areas to test your knowledge.
            </p>
            <p class="lead">
                You can choose from Math, Geography, English, History, Science and many many more!
            </p>
            <p>Happy Quizzing! </p>

        </div>
    </div>
    <div>
        <div class="col-md-4">
            <img src="~/Content/Images/logoCropped.png" alt="WebbiSkools Ltd Logo" width="400" />
        </div>
    </div>
</div>
